@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    
    font-family: 'Roboto', sans-serif;
    background-image: url("assets/Background/4008017.jpg");
    
    background-size: 15%;
    background-attachment: fixed;
    box-sizing: border-box;
    
    margin: 0%;
    padding: 0%;
    overflow-y: 0%;
    overflow-x: 0%;
    
    
    
}

.none{
    margin: 0%;
}


.logo_icon{
    width: 40px;
    height: 40px;
}
header{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding:0px 1%;
    
    background-color: #2D4356;
}
header h1{
    font-weight: 100;
    margin-left: 20%;
    font-size: 20px;
    color: white;
    align-self: center  ;
    display: flex;
    position:relative;
}
nav{
    width: min-content;
    height:min-content;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #EAB2A0;
    border-radius: 6px;
    align-self: center  ;
    padding: .2rem;
    margin: 1rem;
    margin-right: 20%;
    
    


}


nav ul{
    
    font-size:2px;
    padding-right: 1rem;
    padding-left: 1rem;
    position: relative;
    display: flex;
    gap: 2rem 2rem;
    
    
    
}
nav a{
    font-weight: 400;
}
a{
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-weight:600;
    font-size: 20px;
    transition: 0.2s;
    
    
}

nav a:hover{
    text-decoration-line: underline ;
    text-decoration-color: #2D4356 ;
    text-underline-offset: 5px;
    transition: 0.2s;
}


nav li{
    margin:auto;
    position: relative;
    display: flex;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    
   
}



.main-container{
    
    
    width: 50%;
    margin: auto;
    
    
}
section{
    padding: 1%;
    margin: 5%;
    
}
.sub-title{
    padding: 2%;
    padding-left: 5%;
    color: white;
    background-color:#2D4356;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
    
    margin: 0px;
    
    
}

.sub-heading{
    color: white;
    font-size: 100%;
    font-weight: 500;
}

.link-container{
    background-color:#435B66; 
    padding: 2%;
    
    font-size: 120%;
    line-height: 280%;
    
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.txt-intro{
    text-align: start;
 
    line-height: 130%;
    font-weight: bold;
}






#sect-intro{
    text-align: center;

}


.guide-links{
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
    
    display: flex;
    font-size: 85%;
    transition: 0.2s;
    font-weight: 100;
    gap: 1.5rem;
    justify-content: left;
    padding-left: 1%;
}
.guide-links:hover{
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #566f7a;
    transition: 0.3s;
    border-radius: 5px;
    gap: 1.3rem;
    color: #EAB2A0;
    padding-left: 1%;
    .guide-icon{
        filter: invert(57%) sepia(54%) saturate(6%) hue-rotate(328deg) brightness(89%) contrast(93%);
        transition: 0.3s;
    }
    .check-mark-icon{
        
        filter: invert(57%) sepia(54%) saturate(6%) hue-rotate(328deg) brightness(89%) contrast(93%);
        transition: 0.3s;

    }
    
}





.guide-icon{
    width: 30px;
    height: 30px;
    padding-top: 7px;
    color: #2D4356;
    filter: invert(57%) sepia(54%) saturate(6%) hue-rotate(328deg) brightness(89%) contrast(93%);
    transition: 0.3s;
    
}


footer{
    
    width: 60%;
    margin: auto;
    
    
}



.footer-container{
    background-color: #2D4356;
    height: 50%;
    width: auto;
    
    
    

}


.footer-content{
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 5%;
    padding-bottom: 2%;
    width: 70%;
    height: 100%;
    margin: auto;
    
    
    
}
.footer-content a {
    margin: 0;
    font-size: medium;
    display: flex;
}

.footer-content p{
    margin: 0;
    
}
.footer-content a{
    color: white;
    
}
.footer-grid-container{
    margin: auto;
    width: min(90%, 75rem);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    background-color: #EAB2A0;
    overflow: hidden;
    gap: 2em;
    padding: 5%;
    
    border-radius: 10px;
    
    
    
    
    
}

.footer-grid-container-4{
    margin: auto;
    
    display: grid;
    grid-auto-flow: column;
    gap: 5vh;
    background-color: #EAB2A0;
    padding: 3%;
    border-radius: 10px;
    
    
    
}


.check-mark-icon{
    width: 25px;
    height: 25px;
    padding-top: 7px;
    color: #2D4356;
    filter: invert(57%) sepia(54%) saturate(6%) hue-rotate(328deg) brightness(89%) contrast(93%);
    transition: 0.3s;
    display: flexbox;
    float: right;
    margin-left: auto;
    padding: 1%;

}

.footer-content-1{
    display: flex;
    position: relative;
    
}

.footer-cfi p{
    padding-top: 5%;
    color: white;
}

.footer-content-2{
    display: flex;
    position: relative;
}

.footer-cf-list{
    flex-grow: 50;
}

.footer-cf-list h3 {
    margin: 0;
}

.footer-cf-list li {
    margin: 0;
    padding: 0;
}
.footer-ul{
    margin-top: 20%;
    
    padding:0%;
}

.footer-li{
    text-decoration: none;
    list-style-type: none;
    line-height: 1.8rem;
}


.footer-content-3{
    display: flex;
    position: relative;

}

.footer-content-4{
    display: flex;
    position: relative;
}

.footer-content-5{
    display: flex;
    position: relative;
}




@media (max-width: 800px){
    
    .footer-cf-list{
        display: flex;
    }

    .guide-links p {
        font-size: medium;
    }
    .guide-icon{
        width: 7%;
        height: fit-content;
        padding: 5% 0;
    }
    .check-mark-icon{
        width: 5%;
        height: fit-content;
        padding: 5% 0;
        padding-right: 3%;
    }

    .main-container{
    
    
        width: 80%;
        margin: auto;
        
        
    }

    .footer-grid-container{
       
        width: 100%;
        display: grid;
        width: min(90%, 75rem);
        grid-template-columns: repeat(2, 1fr);
        gap: 5vh;
        background-color: #EAB2A0;
        padding: 3%;
        border-radius: 10px;
    
    }

    .footer-cf-list h3 {
        margin: 0;
    }
    
    .footer-cf-list li {
        margin: 0;
        padding: 0px;
    }
    .footer-ul{
        
        margin-top: 0%;
        
        padding:0%;
    }

    .footer-cf-list{
        display: block;
    }
}   



@media screen and (max-width: 580px) {
    .footer-grid-container{
       
        
        grid-template-columns: repeat(1, 1fr);
        
    
    }

    
    .guide-links p {
        font-size: small;
    }
    .guide-icon{
        width: 7%;
        height: fit-content;
        padding: 5% 0;
        
    }
    .check-mark-icon{
        width: 5%;
        height: fit-content;
        padding: 5% 0;
        padding-right: 3%;
    }

   

    
}