@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



body{
    /*background-size: 4px 4px; 
    background-image: 
    linear-gradient(to right, #ccc7b2 1px,transparent 1px ),
    linear-gradient(to bottom, #ccc7b2 1px, transparent 1px);*/
    font-family: 'Roboto', sans-serif;
    background-image: url("assets/background/squares.png");
    
    background-size: 13%;
    background-attachment: fixed;
    background: linear-gradient(#6d5151);
    
    margin: 0%;
    padding: 0%;
    overflow-y: 0%;
    overflow-x: 0%;
    
    
}
/*body::before {
    
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(41, 41, 40, 0.2);
    
}*/
header{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 10px 10%;
}
header h1{
    /* font-size: 20px; */
    
    display: flex;
    position:relative;
}
nav{
    display: flex;
    justify-content: space-between;
    position: relative;



}
nav ul{
    position: relative;
    display: flex;
    gap: 4rem 4rem;
    
    
    
}
a{
    list-style-type: none;
    text-decoration: none;
    color: #000;
    font-weight:600;
    font-size: 20px;
    
}
nav li{
    margin:auto;
    position: relative;
    display: flex;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    
   
}

li{
    line-height: 25px;
    list-style-type: none;
    text-decoration: none;
}

.main-container{
    
    
    width: 50%;
    
    margin: auto;
    
    
}
section{
    padding: 1%;
    margin: 5%;
    
}
.sub-title{
    padding: 2%;
    padding-left: 5%;
    
    background-color:#b8ad95;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    /* box-shadow: .7rem .7rem rgb(78, 77, 65); */
    
    margin: 0px;
    
    
}



.link-container{
    background-color:rgb(218, 201, 179); 
    padding: 2%;
    
    font-size: 120%;
    line-height: 200%;
    font-weight:900;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.txt-intro{
    text-align: start;
}






#sect-intro{
    text-align: center;

}