@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



body{
    /*background-size: 4px 4px; 
    background-image: 
    linear-gradient(to right, #ccc7b2 1px,transparent 1px ),
    linear-gradient(to bottom, #ccc7b2 1px, transparent 1px);*/
    font-family: 'Roboto', sans-serif;
    background-image: url("assets/background/4008017.jpg");
    
    background-size: 15%;
    background-attachment: fixed;
    
    
    margin: 0%;
    padding: 0%;
    overflow-y: 0%;
    overflow-x: 0%;
    
    
}

.none{
    margin: 0%;
}
/*body::before {
    
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(41, 41, 40, 0.2);
    
}*/
header{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 10px 10%;
}
header h1{
    /* font-size: 20px; */
    
    display: flex;
    position:relative;
}
nav{
    display: flex;
    justify-content: space-between;
    position: relative;



}
nav ul{
    position: relative;
    display: flex;
    gap: 4rem 4rem;
    
    
    
}
a{
    list-style-type: none;
    text-decoration: none;
    color: #000;
    font-weight:600;
    font-size: 20px;
    
}
nav li{
    margin:auto;
    position: relative;
    display: flex;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    
   
}

li{
    line-height: 25px;
    list-style-type: none;
    text-decoration: none;
}

.main-container{
    
    
    width: 50%;
    
    margin: auto;
    
    
}
section{
    padding: 1%;
    margin: 5%;
    
}
.sub-title{
    padding: 2%;
    padding-left: 5%;
    color: white;
    background-color:#2D4356;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    /* box-shadow: .7rem .7rem rgb(78, 77, 65); */
    
    margin: 0px;
    
    
}

.sub-heading{
    color: white;
    font-size: 100%;
    font-weight: 500;
}

.link-container{
    background-color:#435B66; 
    padding: 2%;
    
    font-size: 120%;
    line-height: 250%;
    
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.txt-intro{
    text-align: start;
 
    line-height: 130%;
    font-weight: bold;
}






#sect-intro{
    text-align: center;

}


.guide-links{
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
    display: flex;
    font-size: 85%;
    transition: 0.2s;
    font-weight: 100;
    gap: 1.5rem;
    justify-content: left;
    padding-left: 1%;
}
.guide-links:hover{
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #566f7a;
    transition: 0.3s;
    border-radius: 5px;
    gap: 1.3rem;
    color: #EAB2A0;
    padding-left: 1%;
    .guide-icon{
        filter: invert(99%) sepia(0%) saturate(2062%) hue-rotate(37deg) brightness(113%) contrast(81%);
    }
    
}





.guide-icon{
    width: 30px;
    height: 30px;
    padding-top: 7px;
    color: #2D4356;
    filter: invert(82%) sepia(1%) saturate(8%) hue-rotate(333deg) brightness(93%) contrast(102%);
    
}






